.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") HTML
      li
        a(href="") CSS
      li
        a(href="") Javascript
      li
        a(href="") node
      li
        a(href="") vue
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章